#external{
	color: yellow;
}
*{
	font-family: "none", monospace;
	font-size: 20px;
}
h1{
	font-size: 30px;
}
h2{
	text-transform: uppercase;
}
.list{
	background-color: skyblue;
}
li[value]{
	border: solid;
	border-color: navy;
}
h3+img{
	height: 150x;
	width: 150px;
	border-radius: 150px;
}
ol>li.offering-item {
	text-decoration: none;
	letter-spacing: 1.2em;
	list-style: none;t
}
div~p.generic {
	text-align: center;
}